
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="~/Freelancers/Details/1">
    First name:<br>
    <input type="text" name="Username" value="Username"><br>
    Last name:<br>
    <input type="password" name="Password" value="*****"><br><br>
    <input type="submit" value="Submit">

    <a href="~/Freelancers/Create">
        <p>Create account</p>
    </a>
</form>

