@model IEnumerable<gruppBNY.Models.category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Your category has been deleted.</h1>
<h3>Press the button bellow to go back to your page.</h3>
<div>
    <button onclick="goBack()">Go Back to your profile</button>

    <script>
        function goBack() {
            window.history.back();
            window.history.back();


        }
    </script>
</div>
