body {
    padding-top: 50px;
    padding-bottom: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.articleaboutus {
    float: left;
    width: 50%;
    height: auto;
    padding: 4%;
}

.articleimage {
    width: 100%;
}

.asideaboutus {
    float: right;
    width: 50%;
    height: auto;
    padding: 3%;
}

.headerimage {
    
    text-align: center;
    max-width: 100%;
    height: auto;
    width: auto;
}
.addresumeimage {
    text-align: center;
    max-width: 75%;
    height: auto;
    width: auto;
    padding-top: 15px;
    padding-left: 10px;
    
}
.addresumeimage:hover{
    opacity: .5;
}

.freelancerimage {
    text-align: center;
    max-width: 75%;
    height: auto;
    width: auto;
    padding-top: 15px;
    padding-right: 10px;
}

.freelancerimage:hover{
    opacity: .5;
}

.aboutus {
    margin: auto;
    float: none;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.detailsprofile {
    margin-top: 40px;
    padding-top: 15px;
    width: 200px;
    height: 225px;
}

.dl-horizontal dd {
    padding: 3px;
}

.dl-horizontal dt {
    padding: 3px;
}

#freelancerH {
    text-align: center;
    padding: 3px;
}

.headerimagediv {
    display: block;
    width: 348px;
    overflow: hidden;
    white-space: nowrap;
}

.LoginCustomer {
    text-align: center;
    padding: 3px;
}

.LoginFreelancer {
    text-align: center;
    padding: 3px;
}
.contactTop{
    text-align: center;
}
.contact {
    margin-left: 325px;
    margin-right: 70px;
    float: left;
}

.MapImage {
    margin-bottom: 20px;
}

.MapImage img{
    width: 50%;
    height: 50%;
    margin-right: 50px;
    
}

#Place{
    margin-left: 200px;
}

.contactAside h1 {
    margin-left: 50px;
}

.contactAside img {
    width: 50px;
    height: 50px;
    float: left;
    
    margin-right: 10px;

}

.contactAside address{
    margin-left: 20px;
    padding-left: 100px;
}

.education{
    float: right;
}

.Competence_table {
    border: 1px solid black;
    padding: 15px;
    background-color: #ededed;
    margin-right: 80px;
    
}

.Competence_table td tr{
    white-space: nowrap;
}

    .Competence_table th {
        border: 1px solid black;
        padding: 15px;
    }

    .Competence_table td {
        border: 1px solid black;
        padding: 15px;
    }

footer {
    background-color: #222222;
    width: 100%;
    overflow: hidden;
    opacity: 0.90;
}

ul.social li {
    display: inline;
}

.socialtext {
    padding-left: 40px;
}

.sectionfooter1 {
    width: 29%;
    float: left;
    margin: 2% 2%;
    text-align: center;
    color: #ffffff;
}

.sectionfooter2 {
    width: 29%;
    float: left;
    margin: 2% 2%;
    text-align: center;
    color: #ffffff;
}

.sectionfooter3 {
    width: 29%;
    float: left;
    margin: 2% 2%;
    text-align: center;
    color: #ffffff;
}

.DetailsHeader {
    background: #62778c;
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

    .DetailsHeader nav {
        text-align: center;
        padding: 35px 20px 0px 0;
        margin-top: 20px;
        bottom: 0;
    }

    .DetailsHeader ul {
        list-style: none;
    }

    .DetailsHeader nav ul li {
        display: inline-block;
        padding: 10px;
    }

    .DetailsHeader a {
        color: #FFF;
        text-decoration: none;
        font-weight: bold;
    }

        .DetailsHeader a:hover {
            color: #FFF;
            text-decoration: underline;
        }

/* Dropdown Button */
.dropbtn {
    background-color: #828f8e;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #9cadac;
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #5f6968;
}

.topnav {
    overflow: hidden;
}

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        /* Change the color of links on hover */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        /* Style the "active" element to highlight the current page */
        .topnav a.active {
            background-color: #2196F3;
            color: white;
        }

    /* Style the search box inside the navigation bar */
    .topnav input[type=text] {
        float: right;
        padding: 6px;
        border: none;
        margin-top: 8px;
        margin-right: 16px;
        font-size: 17px;
    }