body {
    padding-top: 50px;
    padding-bottom: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.articleaboutus {
    float: left;
    width: 50%;
    height: auto;
    padding: 4%;
}

.articleimage {
    width: 100%;
}

.asideaboutus {
    float: right;
    width: 50%;
    height: auto;
    padding: 3%;
}

.headerimage {
    
    text-align: center;
    max-width: 100%;
    height: auto;
    width: auto;
}
.addresumeimage {
    text-align: center;
    max-width: 75%;
    height: auto;
    width: auto;
    padding-top: 15px;
    padding-left: 10px;
    
}
.addresumeimage:hover{
    opacity: .5;
}

.freelancerimage {
    text-align: center;
    max-width: 75%;
    height: auto;
    width: auto;
    padding-top: 15px;
    padding-right: 10px;
}

.freelancerimage:hover{
    opacity: .5;
}

.aboutus {
    margin: auto;
    float: none;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.detailsprofile {
    margin-top: 40px;
    padding-top: 15px;
    width: 200px;
    height: 225px;
}

.dl-horizontal dd {
    padding: 3px;
}

.dl-horizontal dt {
    padding: 3px;
}

#freelancerH {
    text-align: center;
    padding: 3px;
}

.headerimagediv {
    display: block;
    width: 348px;
    overflow: hidden;
    white-space: nowrap;
}

.LoginCustomer {
    text-align: center;
    padding: 3px;
}

.LoginFreelancer {
    text-align: center;
    padding: 3px;
}

.contact, .contactTop {
    margin-left: 8px;
    text-align: center;
}

.MapImage {
    margin-bottom: 20px;
}

.MapImage img{
    width: 75%;
    height: 75%;
}

.contactAside h1{
    text-align: center;
}

.contactAside img {
    width: 50px;
    height: 50px;
    float: left;
    margin-left: 470px;
    margin-right: 20px;

}

.contactAside address, #phonenumber{
    padding-left: 70px;
}

.education{
    float: right;
}

.Competence_table {
    border: 1px solid black;
    padding: 15px;
    background-color: #ededed;
    margin-right: 80px;
    
}

.Competence_table td tr{
    white-space: nowrap;
}

    .Competence_table th {
        border: 1px solid black;
        padding: 15px;
    }

    .Competence_table td {
        border: 1px solid black;
        padding: 15px;
    }

footer {
    background-color: #222222;
    width: 100%;
    overflow: hidden;
    opacity: 0.90;
}

ul.social li {
    display: inline;
}

.socialtext {
    padding-left: 40px;
}

.sectionfooter1 {
    width: 29%;
    float: left;
    margin: 2% 2%;
    text-align: center;
    color: #ffffff;
}

.sectionfooter2 {
    width: 29%;
    float: left;
    margin: 2% 2%;
    text-align: center;
    color: #ffffff;
}

.sectionfooter3 {
    width: 29%;
    float: left;
    margin: 2% 2%;
    text-align: center;
    color: #ffffff;
}

.DetailsHeader {
    background: #62778c;
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

    .DetailsHeader nav {
        text-align: center;
        padding: 35px 20px 0px 0;
        margin-top: 20px;
        bottom: 0;
    }

    .DetailsHeader ul {
        list-style: none;
    }

    .DetailsHeader nav ul li {
        display: inline-block;
        padding: 10px;
    }

    .DetailsHeader a {
        color: #FFF;
        text-decoration: none;
        font-weight: bold;
    }

        .DetailsHeader a:hover {
            color: #FFF;
            text-decoration: underline;
        }

