@model gruppBNY.Models.core_abilities

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>core_abilities</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ability)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.core_abilities_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
