@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <img class="headerimage" src="~/Content/Images/ImageHeader.jpg" />




<form class="contact">

    <h1>Contact us</h1>
    <label>
        Firstname
        <br />
        <input type="text" class="firstname" />
    </label>
    <br />
    <label>
        Lastname
        <br />
        <input type="text" class="lastname" />
    </label>
    <br />
    <label>
        E-mail
        <br />
        <input type="email" class="email" />
    </label>
    <br />
    <label>
        Phonenumber
        <br />
        <input type="number" class="phonenumber" />
    </label>
    <br />  
    <label>
        Message
        <br />
        <textarea class="message"></textarea>
    </label>
    <br />
    <div class="status">

    </div>
    <button type="submit" class="submit">
        Send
    </button>
    <br />
    <br />

</form>

    <aside class="contactAside">
        <div>
            <h1>Contact Information</h1>

            <img src="~/Content/Images/placeholder.png" />
            <address>
                One Microsoft Way<br />
                Redmond, WA 98052-6399<br />
                <abbr title="Phone">P:</abbr>
                425.555.0100
            </address>
        
            <img src="~/Content/Images/envelope.png"/> 
            <address>
                <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
            </address>

            <img src="~/Content/Images/phone-call.png"/>
            <p id="phonenumber">
                <strong>Phonenumber:</strong> +1 123 456 78
            </p>
        </div>
    </aside>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<img id="Place" src="~/Content/Images/ContacMap.jpg" />

