@{
    ViewBag.Title = "Home Page";
}

<div>
    <img class="headerimage" src="~/Content/Images/ImageHeader.jpg" />
</div>

<div class="row">
    <div class="col-md-4">
        <img class="addresumeimage" src="~/Content/Images/addresume.png" />
        <h2>Add your resume</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
    </div>
    <div class="col-md-4">
        <img class="freelancerimage" src="~/Content/Images/freelancersearch.png" />
        <h2>Search for freelancer</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
    </div>
</div>
<section class="aboutus">


    <h1>Contact Us</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</section>