@{
    ViewBag.Title = "Home Page";
}

<div>
    <img class="headerimage" src="~/Content/Images/ImageHeader.jpg" />
</div>

<div class="row">
    <div class="col-md-4">
        <a href="~/Freelancers/Create">
            <img class="addresumeimage" src="~/Content/Images/addresume.png" />
        </a>

        <h2>Add your resume</h2>
        <p>
            Press the image above to log in as a freelanser and add your CV to the site.
        </p>
    </div>
    <div class="col-md-4-2">
        <a href="~/Freelancers">
            <img class="freelancerimage" src="~/Content/Images/freelancersearch.png" />
        </a>
        <h2>Search for freelancer</h2>
        <p>Press the image above to log in as a customer and find the best freelanser for  your job. </p>
    </div>
</div>
<section class="aboutus">


    <h1>About us</h1>
    <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.</p>
</section>