@{
    ViewBag.Title = "Home Page";
}

<div>
    <img class="headerimage" src="~/Content/Images/HeaderFirstPage.jpg" />
</div>

<div class="row">
    <div class="col-md-4">
        <a href="~/LoginFree">
            <img class="addresumeimage" src="~/Content/Images/addresume.png" />
        </a>

        <h2>Add/change your resume</h2>
        <p>
            Press the image above to log in as a freelanser and add or change your CV to the site.
        </p>
    </div>
    <div class="col-md-4-2">
        <a href="~/LoginCustomer">
            <img class="freelancerimage" src="~/Content/Images/freelancersearch.png" />
        </a>
        <h2>Search for freelancer</h2>
        <p>Press the image above to log in as a customer and find the best freelanser for  your job. </p>
    </div>
</div>
<section class="aboutus">


    <h1>About Rehiro</h1>
    <p>
        If you are looking for more work as a freelancer or trying to find the best freelancer as a customer you have come to the right place.
        <br>As a freelancer you can add your resume with such things as competence, work history, education and much more.
        <br>If you are here as a customer you can login and look over all of our freelancers in a list to find the one that suites your perfect.
        <br>It will only take a few clicks to find the perfect match.
        <br>
        <br />
        <a href="~/Home/About">
            Read More
        </a>

    </p>
</section>